.formDiv {

    width: 100%;

}

.form {

    width: 50%;
    height: 60vh;
    background-color: white;
    display: block;
    margin: auto;
    border: 1px solid black;

}

.formInput {

    display: block;
    padding: 16px;
    margin: auto;
    margin-top: 25px;

}

.formInput[type = "button"] {

    background-color: rgb(0, 84, 149);
    border-radius: 10px;
    width: 50%;
    

}

.formInput[type = "button"]:hover {

    cursor: grab;
    
}

.passwordError {

    color: red;
    text-align: center;
    display: block;
    visibility: hidden;

}

#signupDiv2 {

    display: none;

}

#signupDiv3 {

    display: none;

}