.loginDiv {

    width: 100%;

}

.loginForm {

    width: 50%;
    height: 50vh;
    background-color: #272727;
    display: block;
    margin: auto;
    border: 1px solid black;

}

.loginInput {

    display: block;
    margin: auto;
    margin-top: 24px;
    
    padding: 16px;
    

}

.loginInput[type="button"] {

    width: 50%;

}